{% extends 'base.html' %}

{% block content %}
<ul class="song-list">
    <li>    
        <form method="post">
            <input type="text" name="content" autocomplete="off" required>
            <input class="btn" type="submit" name="submit" value="Search">
        </form>
    </li>
    <li class="search-result">Random {{ songs|length }} songs results ({{ runtime }} seconds)</li>
</ul>
<ul class="song-list">
    {% for song in songs %}
    <li>
        <a class="title" href="{{ url_for('detail', song_id=song.id) }}">{{ song.title }}</a>
        <a class="artist">{{ song.artist }}</a>
        <span class="float-right">
            <a class="spotify" href="https://open.spotify.com/search/{{ song.title }} AND artist:&#34{{ song.artist }}&#34" target="_blank" title="Find this song on Spotify">Spotify</a>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}